Crontab

CRON is a built-in Linux system that allows for the machine to automate jobs to perform minor system processes much easier.
- These jobs are called cronjobs.
  - Cronjobs are allowed to be scheduled to perform at a certain time.
