SSH CONFIGURATION

- SSH is one of the most important configurations in Linux to secure.
  - A unproperly configured SSH server can allow attackers to plant backdoors or gain remote shells into your server.

- The SSH configuration file is normally under ~/.ssh or /etc/ssh. An example of the file format is as follows.

Host github.com
User git
Hostname github.com
PreferredAuthentications publickey
IdentityFile /home/user/.ssh/id_rsa
        
# github account
Host github.com
HostName github.com
PreferredAuthentications publickey
IdentityFile ~/.ssh/id_rsa_myaccount_github

# gitlab account
Host gitlab.com
HostName gitlab.com
PreferredAuthentications publickey
IdentityFile ~/.ssh/id_rsa_myaccount_gitlab

# gitlab company account
Host gitlab.my_company.com
HostName gitlab.my_company.com
PreferredAuthentications publickey
IdentityFile ~/.ssh/id_rsa_mycompanyaccount_gitlab

- There are many different options to add to the user account. #
